[submodule "googletest"]
    path = lib/googletest
    url = https://github.com/google/googletest
[submodule "DynamicBuffer"]
    path = lib/DynamicBuffer
    url = ssh://gogs@git.t3s.uk:2222/tstableford/DynamicBuffer.git
